body{
    margin: 0;
}
.special-font{
    font-family: 'Merriweather', serif;
}
section{
    margin-top: 20px;
    margin-bottom: 30px;
}
h1{
    
    font-size: 50px;
    margin-left: 5px solid teal;
    padding-left: 5px;
}
.left-border{
    border-left: 5px solid tomato;
    border-radius: 5px;
}
p{
    text-align: justify;
    font-size: 20px;
}
.btn-mrgn{
    margin-top: 40px;
}
.color-1{
    color: teal;
}
.color-2{
    color: gray;
}
.part-1{
    display: flex;
    
}
.part-2{
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: slateblue;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    color: white;    
}
.mission{
    text-align: center;
}
.illustrator-mom{
    margin: 20px 40px;
}
.illustrator img{
     width: 35%;
}
.illustrator{
    width: 30%;
    margin-left: 30px;
    padding: 20px 20px;
    border-radius: 20px;
}
.card-1{
    background-color: #EAF2F8;
}
.card-2{
    background-color: #FAE5D3;
}
.card-3{
    background-color: #D5F5E3;
}
.developer{
    width: 100%;
    margin-bottom: 100px;
}
.developer p{
    padding-right: 150px;
    
}

#coding img{
    padding-right: 100px;
   
}
.additional{
    margin-left: 60px;
    padding-left: 40px;
}
.additional h2{
    font-size: 40px;
}
li{
    font-size: 20px;
    color: #85929E;
}
ul{
    margin-bottom: 30px;
}

footer{
    text-align: center;
    background-color: indigo;
    height: 130px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
}
footer h2{
    font-size: 40px;
}
footer h3{
    color: white;
}